<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__grid">
      <div>
        <a href="/" class="site-footer__logo">
          <img src="/assets/iso-red.svg" alt="ISO">
          <span class="site-footer__logo-text">ISO/TC 211</span>
        </a>
        <p class="site-footer__tagline">Geographic information/Geomatics. Providing harmonized resources for implementing ISO/TC 211 standards.</p>
      </div>

      <div>
        <h4 class="site-footer__heading">Resources</h4>
        <ul class="site-footer__links">
          <li><a href="https://geodetic.isotc211.org/" class="site-footer__link">Geodetic Registry</a></li>
          <li><a href="https://standards.isotc211.org/" class="site-footer__link">Normative Statements</a></li>
          <li><a href="http://iso.sparxcloud.com/index.php" class="site-footer__link">UML Models</a></li>
          <li><a href="https://schemas.isotc211.org" class="site-footer__link">Schemas</a></li>
          <li><a href="https://isotc211.geolexica.org/" class="site-footer__link">Terminology</a></li>
          <li><a href="https://def.isotc211.org" class="site-footer__link">Ontologies</a></li>
          <li><a href="https://registry.isotc211.org/" class="site-footer__link">Registries</a></li>
        </ul>
      </div>

      <div>
        <h4 class="site-footer__heading">Links</h4>
        <ul class="site-footer__links">
          <li><a href="/about/" class="site-footer__link">About</a></li>
          <li><a href="/posts/" class="site-footer__link">Blog</a></li>
          <li><a href="https://committee.iso.org/home/tc211" class="site-footer__link">ISO/TC 211 Committee</a></li>
          <li><a href="https://www.iso.org" class="site-footer__link">ISO.org</a></li>
          <li><a href="https://github.com/ISO-TC211" class="site-footer__link">GitHub</a></li>
        </ul>
      </div>
    </div>

    <a href="/award/2010/09/16/tc211-wins-iso-excellence-award.html" class="award-banner">
      <div class="award-banner__inner">
        <div class="award-banner__icon">
          <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="1.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 013 3h-15a3 3 0 013-3m9 0v-4.5A3.375 3.375 0 0019.875 10.875 3.375 3.375 0 0016.5 7.5h0V3.75m-9 15v-4.5A3.375 3.375 0 014.125 10.875 3.375 3.375 0 017.5 7.5h0V3.75m9 0h-9m9 0a1.5 1.5 0 011.5 1.5v1.5m-12-3a1.5 1.5 0 00-1.5 1.5v1.5"/>
          </svg>
        </div>
        <div class="award-banner__text">
          <strong>Winner of the 2010 Lawrence D. Eicher Leadership Award</strong>
          <span>ISO/TC 211 recognized for excellence in standards development</span>
        </div>
        <svg class="award-banner__chevron" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/></svg>
      </div>
    </a>

    <div class="site-footer__bottom">
      <p class="site-footer__copy">
        &copy; {{ site.time | date: '%Y' }} ISO/TC&nbsp;211
      </p>
      <div class="site-footer__social">
        <a href="https://twitter.com/ISOTC211" class="site-footer__social-link" aria-label="Twitter">
          <svg fill="currentColor" viewBox="0 0 24 24"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/></svg>
        </a>
        <a href="https://github.com/ISO-TC211" class="site-footer__social-link" aria-label="GitHub">
          <svg fill="currentColor" viewBox="0 0 24 24"><path d="M12 0C5.374 0 0 5.373 0 12c0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23A11.509 11.509 0 0112 5.803c1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576C20.566 21.797 24 17.3 24 12c0-6.627-5.373-12-12-12z"/></svg>
        </a>
      </div>
    </div>
  </div>
</footer>
